out
build
.project
.vs
*.log
CMakeLists.txt??????????????
idlcompile.bat??????????????
idlcompile.sh??????????????
README.SendVTCGpsPy??????????????
RTC.xml??????????????
SendVTCGpsPy.conf??????????????
SendVTCGpsPy.py??????????????
cmake/cpack_options.cmake.in??????????????
test/SendVTCGpsPyTest.py??????????????
**/__pycache__